*.suo
*.ilk
*.pch
*.lastbuildstate
*.tlog
*.obj
*.tlh
*.tli
*.idb
*.obj
*.pdb
*.VC.db
*.VC.opendb
.vs/
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/ChartProj/ChartApiKR_TCP/Debug/ChartApiKR.log
Source/ChartProj/ChartMaker_TCP/Debug/ChartMaker.log
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/_Log/ChartShmQueue.exe_20180727.log
Source/_Bin/ChartShmQueue.exe
Source/ChartProj/ChartShmQueue/Debug/ChartShmQueue.Build.CppClean.log
Source/ChartProj/ChartShmQueue/Debug/ChartShmQueue.log
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
