*.suo
*.ilk
*.pch
*.lastbuildstate
*.tlog
*.obj
*.tlh
*.tli
*.idb
*.obj
*.pdb
*.VC.db
*.VC.opendb
.vs/
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/ChartProj/ChartApiKR_TCP/Debug/ChartApiKR.log
Source/ChartProj/ChartMaker_TCP/Debug/ChartMaker.log
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/_Log/ChartShmQueue.exe_20180727.log
Source/_Bin/ChartShmQueue.exe
Source/ChartProj/ChartShmQueue/Debug/ChartShmQueue.Build.CppClean.log
Source/ChartProj/ChartShmQueue/Debug/ChartShmQueue.log
Source/Strategy_FB/IRUMSig_FB_TCP/.vs/IRUMSig_FB/v14/.suo
Source/_Bin/ChartMaker.exe
*.iobj
*.ipdb
Source/_Bin/StratSimple.exe
Source/_Bin/차트서버재시작.BAT
Source/_Log/ChartMaker.exe_20180731.log
Source/_Log/ChartMaker.exe_20180801.log
Source/_Log/ChartMaker.exe_20180802.log
Source/_Log/ChartShmQueue.exe_20180730.log
Source/_Log/ChartShmQueue.exe_20180802.log
Source/ChartProj/ChartMaker_TCP/Release/ChartMaker.Build.CppClean.log
Source/ChartProj/ChartMaker_TCP/Release/ChartMaker.log
Source/ChartProj/ChartShmQueue/Release/ChartShmQueue.Build.CppClean.log
Source/ChartProj/ChartShmQueue/Release/ChartShmQueue.log
Source/DataBase/TableScript_20180730_BeforeMergingChartTable.sql
Source/Strat_Demo/Debug/Tester.exe
Source/Strat_Demo/StratSimple/Debug/StratSimple.log
Source/Strat_Demo/Tester/Debug/Tester.log
Source/Strat_Demo/Tester/Tester.vcxproj.filters
Source/Strategy_FB/IRUMSig_FB_TCP/IRUMSig_FB.vcxproj.filters
Source/_Log/ChartMaker.exe_20180803.log
Source/_Log/ChartShmQueue.exe_20180803.log
Source/_Log/StratSimple.exe_20180803.log
Source/_Log/ChartMaker.exe_20180806.log
Source/_Log/ChartMaker.exe_20180807.log
Source/_Log/ChartMaker.exe_20180808.log
Source/_Log/ChartMaker.exe_20180809.log
Source/_Log/StratSimple.exe_20180806.log
Source/_Log/StratSimple.exe_20180807.log
Source/_Log/StratSimple.exe_20180808.log
Source/_Log/StratSimple.exe_20180809.log
Source/Strat_Demo/StratSimple/Debug/StratSimple.Build.CppClean.log
Source/_Bin/MDProtoType.exe
Source/_Bin/MDProtoType.exe_20180809.log
*.ipch
Source/MudFish/MDProtoType/Debug/MDProtoType.log
Source/MudFish/MDProtoType/Debug/MDProtoType.res
Source/_Bin/MDProtoType.exe_20180814.log
Source/_Log/ChartMaker.exe_20180810.log
Source/_Log/ChartMaker.exe_20180813.log
Source/_Log/ChartMaker.exe_20180814.log
Source/_Log/ChartShmQueue.exe_20180810.log
Source/_Log/MDProtoType.exe_20180814.log
Source/_Log/StratSimple.exe_20180810.log
Source/_Log/StratSimple.exe_20180811.log
Source/_Log/StratSimple.exe_20180813.log
Source/ChartProj/ChartMaker_TCP/Debug/ChartMaker.Build.CppClean.log
Source/_Log/MDProtoType.exe_20180817.log
Source/IRUM_INC/eBest/새 텍스트 문서.txt
Source/_Log/ChartMaker.exe_20180821.log
Source/_Log/ChartShmQueue.exe_20180821.log
Source/_Log/MDProtoType.exe_20180820.log
Source/_Log/MDProtoType.exe_20180821.log
Source/_Log/MDProtoType.exe_20180822.log
Source/_Log/MDProtoType.exe_20180823.log
Source/_Log/MDProtoType.exe_20180824.log
Source/MudFish/MDProtoType/Debug/MDProtoType.Build.CppClean.log
Source/_Log/MDProtoType.exe_20180827.log
Source/_Log/MDProtoType.exe_20180825.log
Source/Hippo/Test/Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Source/Hippo/Test/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/Hippo/Test/Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Hippo/Test/Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/Hippo/Test/Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/Hippo/Test/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Source/MudFish/MudFishOrd/Debug/MudFishOrd.Build.CppClean.log
Source/MudFish/MudFishOrd/Debug/MudFishOrd.log
Source/Utilities/ListCtrlTest/ListCtrlTest/Debug/ListCtrlTest.log
Source/Utilities/ListCtrlTest/ListCtrlTest/Debug/ListCtrlTest.res
Source/Utilities/ListCtrlTest/Debug/ListCtrlTest.exe
Source/_Bin/MudFishOrd.exe
Source/_Log/MudFishOrd.exe_20180913.log
Source/MudFish/MudFishOrd/Debug/MudFishOrd.res
Source/_Bin/MudFishOrd.exe
Source/_Bin/MudFishOrd.exe
Source/_Log/MudFishOrd.exe_20180920.log
Source/_Log/MudFishOrd.exe_20180921.log
Source/EduBiz/PacketParsing/Bin/TcpClient.exe
Source/EduBiz/PacketParsing/Bin/TcpSvr.exe
Source/EduBiz/PacketParsing/Bin/TcpSvrEx.exe
Source/EduBiz/PacketParsing/TcpSvrEx/x64/Debug/TcpSvrEx.log
Source/PacketParsing.zip
Source/Utilities/test/Debug/test.exe
Source/Utilities/test/test/Debug/test.log
Source/_Log/MudFishOrd.exe_20180927.log
Source/_Log/MudFishOrd.exe_20180927.log1
Source/_Log/MudFishOrd.exe_20180927.log2
Source/_Log/MudFishOrd.exe_20180928.log
Source/_Log/MudFishOrd.exe_20180928.log3
Source/_Log/MudFishOrd.exe_20180928.log4
Source/_Log/MudFishOrd.exe_20180928.log5
Source/_Log/MudFishOrd.exe_20180928.log6
Source/_Log/MudFishOrd.exe_20181001.log
Source/_Log/MudFishOrd.exe_20181001.log1
Source/_Log/MudFishOrd.exe_20181002.log
Source/_Bin/MudFishOrd.exe
Source/_Log/MudFishOrd.exe_20181003.log
Source/MudFish/enc_temp_folder/92ab181fb395d394b9a569cabc3d353/StratMaker.cpp
Source/_Bin/MudFishOrd.exe
Source/_Bin/ChartReg.reg
Source/_Bin/ChartShmQueue.ini
Source/_Bin/lnk{47C2FA19-7639-4A59-854F-D08B8C9177FC}.tmp
Source/_Bin/MudFishOrd.exe
Source/_Bin/MudFishOrd.ini
Source/_Log/ChartShmQueue.exe_20181005.log
Source/_Log/ChartShmQueue.exe_20181008.log
Source/_Log/MudFishOrd.exe_20181004.log
Source/_Log/MudFishOrd.exe_20181005.log
Source/_Log/MudFishOrd.exe_20181008.log
Source/ChartProj/ChartShmQueue/ChartShmQueue.vcxproj.user
Source/MudFish/MudFishOrd/Release/MudFishOrd.log
Source/MudFish/MudFishOrd/Release/MudFishOrd.res
Source/_Bin/ChartShmQueue.ini
Source/_Bin/MudFishOrd.exe
Source/_Bin/MudFishOrd.ini
Source/_Bin/ChartMaker.ini
Source/_Bin/MudFishOrd.exe
Source/_Log/MudFishOrd.exe_20181010.log
Source/ChartProj/bin/ChartMakerTick.exe
Source/ChartProj/ChartMakerTick/Release/ChartMakerTick.log
Source/MudFish/MudFishOrd/Debug/MudFishOrd.res
Source/MudFish/MudFishOrd/Release/MudFishOrd.Build.CppClean.log
Source/_Bin/ChartMaker.ini
Source/_Bin/MudFishOrd.exe
Source/_Bin/Abot_No1.exe
Source/_Log/MudFishOrd.exe_20181011.log
Source/A-bot/Abot_No1/Debug/Abot_No1.Build.CppClean.log
Source/A-bot/Abot_No1/Debug/Abot_No1.log
Source/_Log/Abot_No1.exe_20181023.log
Source/_Log/Abot_No1.exe_20181024.log
Source/_Log/Abot_No1.exe_20181025.log
Source/_Log/Abot_No1.exe_20181029.log
Source/_Log/Abot_No1.exe_20181030.log
Source/_Log/ChartMaker.exe_20181024.log
Source/_Log/ChartMaker.exe_20181025.log
Source/_Log/ChartMaker.exe_20181029.log
Source/_Log/ChartMaker.exe_20181030.log
Source/_Log/ChartShmQueue.exe_20181024.log
Source/_Log/ChartShmQueue.exe_20181029.log
Source/_Log/ChartShmQueue.exe_20181030.log
Source/A-bot/Abot_No1/Release/Abot_No1.Build.CppClean.log
Source/A-bot/Abot_No1/Release/Abot_No1.log
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/Monitoring/MonitorC/Debug/MonitorC.exe
Source/Monitoring/MonitorC/Debug/MonitorC.log
Source/_Bin/Abot_No1 - Copy.exe
*.log
Source/_Log/LogBackup/LogBack_20181030_20414238.zip
Source/_Log/LogBackup/LogBack_20181031_06000018.zip
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/_Log/LogBackup/LogBack_20181101_06000018.zip
Source/_Log/LogBackup/LogBack_20181102_06000018.zip
Source/A-bot/Abot_No1/Abot_No1.vcxproj
Source/A-bot/Abot_No1/Abot_No1.vcxproj.filters
Source/A-bot/Abot_No1/Abot_No1.vcxproj.user
Source/A-bot/Abot_No1/AbotMain.cpp
Source/A-bot/Abot_No1/AbotMain.h
Source/A-bot/Abot_No1/main.cpp
Source/A-bot/Abot_No1/Main.h
Source/A-bot/Abot_No1/StratHistManager.cpp
Source/A-bot/Abot_No1/StratHistManager.h
Source/A-bot/Abot_No1/StratID.h
Source/A-bot/Abot_No1/StratMaker.cpp
Source/A-bot/Abot_No1/Abot_No1.vcxproj
Source/A-bot/Abot_No1/Abot_No1.vcxproj.filters
Source/A-bot/Abot_No1/Abot_No1.vcxproj.user
Source/A-bot/Abot_No1/AbotMain.cpp
Source/A-bot/Abot_No1/AbotMain.h
Source/A-bot/Abot_No1/main.cpp
Source/A-bot/Abot_No1/Main.h
Source/A-bot/Abot_No1/StratHistManager.cpp
Source/A-bot/Abot_No1/StratHistManager.h
Source/A-bot/Abot_No1/StratID.h
Source/A-bot/Abot_No1/StratMaker.cpp
Source/_Log/LogBackup/LogBack_20181103_06000017.zip
*.sbr
*.bsc
Source/_Log/LogBackup/LogBack_20181109_06000008.zip
Source/_Log/LogBackup/LogBack_20181121_06000018.zip
Source/_Log/LogBackup/LogBack_20181122_06000018.zip
Source/_Log/LogBackup/LogBack_20181123_06000018.zip
Source/_Log/LogBackup/LogBack_20181124_06000018.zip
Source/_Log/LogBackup/LogBack_20181125_06000018.zip
Source/_Log/LogBackup/LogBack_20181126_06000018.zip
Source/_Log/LogBackup/LogBack_20181127_06000018.zip
Source/_Log/LogBackup/LogBack_20181109_06000008.zip
Source/AlgoTradingPro/ETK_X/이호재_181205.pfx
Source/AlgoTradingPro/ETK_X/Release/XingAPI_Sample.res
Source/BackupFiles/KR_Hedge/KRFBOrd/.vs/KRFBOrd/v14/.suo
Source/BackupFiles/KR_Hedge/KRFBOrd_20170727_추가요건수정전/KRFBOrd.sln
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB.vcxproj/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj.filters
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/_Log/LogBackup/LogBack_20181109_06000008.zip
Source/BackupFiles/KR_Hedge/KRFBOrd/.vs/KRFBOrd/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB.vcxproj/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/Test/Project1/Debug/Project1.exe
Source/Utilities/LogDeleter/.vs/LogDeleter/v14/.suo
Source/Utilities/NotificationServer/Debug/TestNewLogFunction.exe
Source/Utilities/NotificationServer/Debug/TestNewLogFunction.ini
Source/Utilities/TestNewLogFunction/Debug/TestNewLogFunction.exe
Source/Utilities/TestNewLogFunction/Debug/TestNewLogFunction.ini
Source/_Log/LogBackup/LogBack_20181109_06000008.zip
Source/BackupFiles/KR_Hedge/KRFBOrd/.vs/KRFBOrd/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB.vcxproj/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/Utilities/LogDeleter/.vs/LogDeleter/v14/.suo
Source/_Log/LogBackup/LogBack_20181109_06000008.zip
Source/BackupFiles/KR_Hedge/KRFBOrd/.vs/KRFBOrd/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB.vcxproj/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/Utilities/LogDeleter/.vs/LogDeleter/v14/.suo
Source/BackupFiles/KR_Hedge/KRFBOrd/.vs/KRFBOrd/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB.vcxproj/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/.vs/IRUMSig_FB/v14/.suo
Source/BackupFiles/Strategy/IRUMSig_FB/IRUMSig_FB.vcxproj
Source/BackupFiles/Strategy/IRUMStrat_FB/.vs/IRUMStrat_FB/v14/.suo
Source/Utilities/LogDeleter/.vs/LogDeleter/v14/.suo
