<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	border-left-style: solid;
	border-left-width: 1px;
	border-right: 1px solid #C0C0C0;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom: 1px solid #C0C0C0;
}
.auto-style3 {
	text-align: center;
	background-color: #C0C0C0;
}
.auto-style4 {
	border-left-style: solid;
	border-left-width: 1px;
	border-right: 1px solid #C0C0C0;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom: 1px solid #C0C0C0;
	text-align: right;
}
.auto-style5 {
	background-color: #CCCCFF;
	text-align: center;
}
.auto-style6 {
	border-collapse: collapse;
	border: 1px solid #0000FF;
}
.auto-style10 {
	border-left: 0 solid #C0C0C0;
	border-top: 0 solid #C0C0C0;
	text-align: center;
	background-color: #C0C0C0;
	border-right-style: solid;
	border-right-width: 0;
	border-bottom-style: solid;
	border-bottom-width: 0;
}
.auto-style11 {
	border-width: 0;
}
.auto-style12 {
	border: 1px solid #C0C0C0;
}
.auto-style13 {
	border-collapse: collapse;
}
.auto-style14 {
	border: 1px solid #C0C0C0;
	text-align: center;
}
</style>
